.about-us-content {
    height: 100%;
    background-image: url("../assets/images/bg-about.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-us-content .common-width {
    padding-top: 5rem;
}

.about-us-content h2 {
    max-width: max-content;
    color: white;
    background-color: orangered;
    font-size: 5rem;
    font-weight: 700;
    margin: 0 auto;
    filter: drop-shadow(5px 0 0 red);
}

.about-us-text-container {
    width: 50%;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    line-height: 1.8;
    padding: 4rem 0;
}

.about-us-text-container div {
    width: 80ch;
}

.about-us-text-container div:nth-child(even) {
    align-self: flex-end;
}

.about-us-text-container h3 {
    width: max-content;
    font-size: 2.5rem;
    font-weight: 700;
    color: black;
    background-color: whitesmoke;
    padding: 0.5rem 1rem;
}

.about-us-text-container p {
    padding: 2rem;
    font-size: 2.2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    background: linear-gradient(to bottom right, purple, orangered);
    border-radius: 0 10px 15px 5px;
    border-top: 1px solid white;
    border-bottom: 4px solid white;
    border-left: 1px solid white;
    border-right: 4px solid white;
}
